<style>

html { font-size: 100%; }

/* exoplanet.top and bootstrap */
.snsweb.container, .snsweb.container-fluid {
  font-family: Catamaran, "Open Sans", "Segoe UI", "Calibri Light", Calibri, Verdana, sans-serif;
  font-size: 1.125rem;
  line-height: 1.42857143;
  font-weight: 300;
  color: #5c5c5c;
}
.snsweb.container-fluid {
    background: #f5f5f5;
    max-width: 1200px;
}
@media (max-width: 650px) {
    .snsweb.container, .snsweb.container-fluid {
        font-size: 1rem;
    }
}
.snsweb a {
  color: #584f95;
  text-decoration: none;
}
.snsweb a:hover,
.snsweb a:focus {
  color: #584f95;
  text-decoration: underline;
}
.snsweb a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.snsweb b {
    font-weight: 500;
}
.snsweb p, .snsweb li {font-size: 1em}
.snsweb ul {
    padding-left: 30px;
}
.snsweb ul li {
    list-style-type: none;
}
.snsweb ul li:before {
    content: "вЂў";
    font-weight: 500;
    font-size: 3em;
    color: #584f95;
    top: -24px;
    left: -25px;
    position: absolute;
}
@media (min-width: 768px) {
    .snsweb .right ul {
        padding-left: 0;
        padding-right: 30px;
    }
    .snsweb .right ul li:before {
        left: auto;
        right: -25px;
    }
}
.snsweb h2 {font-size: 3.1em;text-align: left;font-weight: 100;margin: 0;line-height: 1em;}
.snsweb h3 {font-size: 2.111em;font-weight: 100;margin: 0;line-height: 1em;}
.snsweb h3 > small {font-size: 0.75em;display: block;}
.snsweb h4 {font-size: 1.5em;text-align: left;font-weight: 100;margin: 0;}
.snsweb h4 small {font-size: 0.8em;display: block;}
.snsweb h5 {font-size: 1.25em;margin: 0;font-weight: 100}
.snsweb h6 {font-size: 1em;font-weight: 400;margin: 0;}
.snsweb .clear {clear: both;}
.snsweb .gap {height: 30px;}
img {
    max-width: 100%;
}
.snsweb table {
  border-collapse: collapse;
  border-spacing: 0;
}
.snsweb td,
.snsweb th {
  padding: 0;
}
.snsweb, .snsweb * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
}
.snsweb *:before,
.snsweb *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
}
.snsweb img {
  vertical-align: middle;
  max-width: 100%;
}
.snsweb .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.snsweb .img-rounded {
  border-radius: 6px;
}
.snsweb .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.snsweb .img-circle {
  border-radius: 50%;
}
.snsweb hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.snsweb .clearfix:before,
.snsweb .clearfix:after,
.snsweb .container:before,
.snsweb .container:after,
.snsweb .container-fluid:before,
.snsweb .container-fluid:after,
.snsweb .row:before,
.snsweb .row:after {
  content: "";
  display: block;
}
.snsweb .clearfix:after,
.snsweb .container:after,
.snsweb .container-fluid:after,
.snsweb .row:after {
  clear: both;
}
.snsweb .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.snsweb .center {
    text-align: center;
}
.snsweb .right {
    text-align: right;
}
.snsweb .hide {
  display: none !important;
}
.snsweb .show {
  display: block !important;
}
.snsweb .invisible {
  visibility: hidden;
}
.snsweb .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.snsweb .hidden {
  display: none !important;
}

    /* grid */
.snsweb.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; } @media (min-width: 768px) { .snsweb.container { width: 750px; } } @media (min-width: 992px) { .snsweb.container { width: 970px; } } @media (min-width: 1200px) { .snsweb.container { width: 1170px; } } .snsweb.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; } .snsweb .row { margin-left: -15px; margin-right: -15px; }.snsweb .col-xs-1,.snsweb .col-sm-1,.snsweb .col-md-1,.snsweb .col-lg-1,.snsweb .col-xs-2,.snsweb .col-sm-2,.snsweb .col-md-2,.snsweb .col-lg-2,.snsweb .col-xs-3,.snsweb .col-sm-3,.snsweb .col-md-3,.snsweb .col-lg-3,.snsweb .col-xs-4,.snsweb .col-sm-4,.snsweb .col-md-4,.snsweb .col-lg-4,.snsweb .col-xs-5,.snsweb .col-sm-5,.snsweb .col-md-5,.snsweb .col-lg-5,.snsweb .col-xs-6,.snsweb .col-sm-6,.snsweb .col-md-6,.snsweb .col-lg-6,.snsweb .col-xs-7,.snsweb .col-sm-7,.snsweb .col-md-7,.snsweb .col-lg-7,.snsweb .col-xs-8,.snsweb .col-sm-8,.snsweb .col-md-8,.snsweb .col-lg-8,.snsweb .col-xs-9,.snsweb .col-sm-9,.snsweb .col-md-9,.snsweb .col-lg-9,.snsweb .col-xs-10,.snsweb .col-sm-10,.snsweb .col-md-10,.snsweb .col-lg-10,.snsweb .col-xs-11,.snsweb .col-sm-11,.snsweb .col-md-11,.snsweb .col-lg-11,.snsweb .col-xs-12,.snsweb .col-sm-12,.snsweb .col-md-12,.snsweb .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }.snsweb .col-xs-1,.snsweb .col-xs-2,.snsweb .col-xs-3,.snsweb .col-xs-4,.snsweb .col-xs-5,.snsweb .col-xs-6,.snsweb .col-xs-7,.snsweb .col-xs-8,.snsweb .col-xs-9,.snsweb .col-xs-10,.snsweb .col-xs-11,.snsweb .col-xs-12 { float: left; }.snsweb .col-xs-12 { width: 100%; }.snsweb .col-xs-11 { width: 91.66666667%; }.snsweb .col-xs-10 { width: 83.33333333%; }.snsweb .col-xs-9 { width: 75%; }.snsweb .col-xs-8 { width: 66.66666667%; }.snsweb .col-xs-7 { width: 58.33333333%; }.snsweb .col-xs-6 { width: 50%; }.snsweb .col-xs-5 { width: 41.66666667%; }.snsweb .col-xs-4 { width: 33.33333333%; }.snsweb .col-xs-3 { width: 25%; }.snsweb .col-xs-2 { width: 16.66666667%; }.snsweb .col-xs-1 { width: 8.33333333%; } @media (min-width: 768px) {.snsweb .col-sm-1,.snsweb .col-sm-2,.snsweb .col-sm-3,.snsweb .col-sm-4,.snsweb .col-sm-5,.snsweb .col-sm-6,.snsweb .col-sm-7,.snsweb .col-sm-8,.snsweb .col-sm-9,.snsweb .col-sm-10,.snsweb .col-sm-11,.snsweb .col-sm-12 { float: left; }.snsweb .col-sm-12 { width: 100%; }.snsweb .col-sm-11 { width: 91.66666667%; }.snsweb .col-sm-10 { width: 83.33333333%; }.snsweb .col-sm-9 { width: 75%; }.snsweb .col-sm-8 { width: 66.66666667%; }.snsweb .col-sm-7 { width: 58.33333333%; }.snsweb .col-sm-6 { width: 50%; }.snsweb .col-sm-5 { width: 41.66666667%; }.snsweb .col-sm-4 { width: 33.33333333%; }.snsweb .col-sm-3 { width: 25%; }.snsweb .col-sm-2 { width: 16.66666667%; }.snsweb .col-sm-1 { width: 8.33333333%; } } @media (min-width: 992px) {.snsweb .col-md-1,.snsweb .col-md-2,.snsweb .col-md-3,.snsweb .col-md-4,.snsweb .col-md-5,.snsweb .col-md-6,.snsweb .col-md-7,.snsweb .col-md-8,.snsweb .col-md-9,.snsweb .col-md-10,.snsweb .col-md-11,.snsweb .col-md-12 { float: left; }.snsweb .col-md-12 { width: 100%; }.snsweb .col-md-11 { width: 91.66666667%; }.snsweb .col-md-10 { width: 83.33333333%; }.snsweb .col-md-9 { width: 75%; }.snsweb .col-md-8 { width: 66.66666667%; }.snsweb .col-md-7 { width: 58.33333333%; }.snsweb .col-md-6 { width: 50%; }.snsweb .col-md-5 { width: 41.66666667%; }.snsweb .col-md-4 { width: 33.33333333%; }.snsweb .col-md-3 { width: 25%; }.snsweb .col-md-2 { width: 16.66666667%; }.snsweb .col-md-1 { width: 8.33333333%; } } @media (min-width: 1200px) {.snsweb .col-lg-1,.snsweb .col-lg-2,.snsweb .col-lg-3,.snsweb .col-lg-4,.snsweb .col-lg-5,.snsweb .col-lg-6,.snsweb .col-lg-7,.snsweb .col-lg-8,.snsweb .col-lg-9,.snsweb .col-lg-10,.snsweb .col-lg-11,.snsweb .col-lg-12 { float: left; }.snsweb .col-lg-12 { width: 100%; }.snsweb .col-lg-11 { width: 91.66666667%; }.snsweb .col-lg-10 { width: 83.33333333%; }.snsweb .col-lg-9 { width: 75%; }.snsweb .col-lg-8 { width: 66.66666667%; }.snsweb .col-lg-7 { width: 58.33333333%; }.snsweb .col-lg-6 { width: 50%; }.snsweb .col-lg-5 { width: 41.66666667%; }.snsweb .col-lg-4 { width: 33.33333333%; }.snsweb .col-lg-3 { width: 25%; }.snsweb .col-lg-2 { width: 16.66666667%; }.snsweb .col-lg-1 { width: 8.33333333%; } }
    /* grid */

/* exoplanet.top and bootstrap */



/* NEW */
.snsweb .lnr {
    line-height: 1;
}

.snsweb .col970 {max-width: 970px;width: 100%;float: none;display: block;margin:auto;clear:both;}
.snsweb .st {
    height: 670px;
    position: relative;
    overflow: hidden;
    background: url(https://exoplanet.top/t/1/img/tbg.jpg) no-repeat top #4c4c4c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -2px;
}
.snsweb .st h2 {
    margin-bottom: -11px;
}
.snsweb .st h3 {
    margin-left: 10px;
    font-size: 1.11em;
    text-align: left;
    font-weight: 100;
}
.snsweb .st h3:before,
.snsweb .fdbk h3:before {
    content: " ";
    width: 3px;
    height: 100%;
    background: #6dcff6;
    display: block;
    position: absolute;
    left: -10px;
    top: -1px;
}
.snsweb .cut {
    background: #f5f5f5;
    width: 2000px;
    height: 1000px;
    position: absolute;
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    top: 397px;
    left: 0;
}
.snsweb .tm {
    z-index: 2;
    height: 540px;
    display: table;
    width: 100%;
}
.snsweb .tm > div {
    display: table-cell;
    float:none;
    vertical-align: middle;
}
.snsweb .st .photo-main img {
    transform: scale(0.8) rotate(0deg);
    max-height: 580px;
    max-width: 100%;
}
.snsweb .st:hover .photo-main img {
    transform: scale(1) rotate(3deg);
}
@media (max-width: 1200px) {
    .snsweb .cut {
        top: 360px;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .snsweb .tm > .photo-main {
        padding-left: 0;
        padding-right: 30px;
    }
}
@media (max-width: 992px) {
    .snsweb .cut {
        top: 300px;
    }
    
    .snsweb .tm {
        height: 340px;
    }
    .snsweb .tm h2 {
        font-size: 2.22em;
    }
    .snsweb .st .photo-main img {
        max-height: 450px;
    }
}
@media (max-width: 768px) {
    .snsweb .st .photo-main img {
        max-height: 400px;
    }
}
@media (max-width: 650px) {
    .snsweb .tm h2 {
        font-size: 1.51em;
    }
    .snsweb .tm h3 {
        font-size: 1em;
    }

    .snsweb .st .photo-main img {
        max-height: 300px;
    }
}
@media (max-width: 650px) {
    .snsweb .st {
        height: 570px;
    }
    .snsweb .cut {
        top: 280px;
    }
}
.snsweb .drkbg, .snsweb .drkbg a, .snsweb .drkbg a:hover {
    color: white;
}
.snsweb .mlnks a {
    padding: 0 10px;
    white-space: nowrap;
    line-height: 2rem;
    display: inline-block;
    font-size: 1.125rem;
}
.snsweb .mlnks a:hover {
    text-decoration: none;
}
.snsweb .mlnks a:before {
    content: " ";
    width: 0%;
    height: 3px;
    background: #6dcff6;
    display: block;
    margin: auto;
    position: absolute;
    left: 50%;
    top: -5px;
}
.snsweb .mlnks a:hover:before {
    width: 100%;
    left: 0%;
}
@media (max-width: 768px) {
    .snsweb .mlnks a:before {
        top: 0px;
    }
}
.snsweb .mrgnbtm {
     margin-bottom: 70px;
}
.snsweb .pulse,
.snsweb .pulse-top {
    width: 181px;
    height: 46px;
    margin-left: -60px;
}

/* LOGO WITH RIGHT TOP MENU */
.snsweb div.cont {
    display: table;
    width: 100%;
}
.snsweb div.cent {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: right;
}
.snsweb div.cent > div {
    float: right;
}
@media (max-width: 992px) {
    .snsweb div.cont {
        display: block;
        float:left;
    }
    .snsweb div.cent {
        display: block;
        float:left;
        text-align: center;
        margin-bottom: 20px;
    }
    .snsweb div.cent > div {
        float: none;
    }
}
@media (max-width: 400px) {
    .snsweb .tm > div.photo-main { 
        display: none;
    }
    .snsweb .tm > div {
        vertical-align: top;
    }
    .snsweb .cut {
        top: 220px;
    }
    .snsweb .st {
        height: 440px;
    }
    .snsweb .cont {
        margin-top: -30px;
        margin-bottom: 30px;
    }
}
/* LOGO WITH RIGHT TOP MENU */



/* company advantages */
.snsweb .cad {
    background: #f5f5f5;
    font-size: 1em;
    padding-bottom: 60px;
}
.snsweb .cad .i {
    color: #584f95;
    margin: auto;
    display: block;
    text-align: center;
}
.snsweb .cad .i .lnr:before {
    font-size: 60px;
    font-size: 60px;
    display: block;
    height: 40px;
}
.snsweb .cad .oa {
    text-align: center;
    margin-bottom: 30px;
}
.snsweb .cad .oa:hover .i {
    transform: scale(1.2);
}
.snsweb .cad .i ~ span {
    padding-top: 20px;
    display: block;
}
@media (max-width: 768px) {
    .snsweb .cad {
        display: none;
    }
}
/* company advantages */

/* DESCRIPTION */
.snsweb .desc {
    background-color: #f5f5f5;
}
.snsweb .desc h3:before {
    content: " ";
    position: absolute;
    width: 3px;
    height: 100%;
    left: -10px;
    top: -4px;
    background: #6dcff6;
}
.snsweb .desc .right h3:before {
    left: initial;
    right: -10px;
    top: -1px;
}
.snsweb .desc > div {
    margin: 30px auto;
    display: table;
}
.snsweb .desc > div > div {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.snsweb .desc > div:after,
.snsweb .desc > div:before {
    clear: both;
}
@media (max-width: 768px) {
    .snsweb .desc > div {
        margin: 0px auto;
        display: block;
    }
    .snsweb .desc > div > div {
        float: left;
        display: block;
        width: 100%;
    }
    .snsweb .desc img {
        max-height: 200px;
        margin-bottom: 20px;
    }
    .snsweb .desc .chordr .right h3:before {
        right: initial;
        left: -10px;
        top: -4px;
    }
    .snsweb .right {
        text-align: left;
    }
}
@media (min-width: 768px) {
    .snsweb .desc .chordr .col-sm-4 {left:66.66666667%}
    .snsweb .desc .chordr .col-sm-8 {right:33.33333334%}
}
.snsweb span.red {color: red}
.snsweb span.blue {color: blue}
.snsweb span.green {color: green}
.snsweb span.yellow {color: yellow}
.snsweb span.black {color: black}
/* DESCRIPTION */

/* SHOP BANNER */
.snsweb .sban,
.snsweb .drkr {
    height: 325px;
    width: 100%;
    position: relative;
    overflow: hidden;
    /*background-attachment: fixed;*/
    background-position: top center;
    background-color: #979797;
    background-image: url(https://exoplanet.top/t/1/img/b.jpg);
}
.snsweb .sban * {
    z-index: 2;
}
.snsweb .drkr {
    background-image: url(https://exoplanet.top/t/1/img/tbg.jpg);
    opacity: .2;
    position: absolute;
    z-index: 0;
}
.snsweb .sban h4 {
    text-align: center;
}
.snsweb .sban .bphoto {
    height: 100%;
    width: 100%;
    background: url(https://exoplanet.top/t/1/img/bphoto.png) no-repeat left bottom;
    position: absolute;
}
.snsweb .sban .bicon {
    border: 1px solid rgba(255,255,255,0.40);
    border-radius: 50%;
    width: 196px;
    height: 196px;
    position: absolute;
    right: 9px;
    top: 78px;
}
.snsweb .sban .bicon .lnr {
    font-size: 120px;
    top: 35px;
    left: 3px;
    color: rgba(255,255,255,.8);
}
.snsweb .lnr-chevron-right:before {
    font-size: 13px;
}
.snsweb .sban .sbtn {
    padding: 10px 20px;
    margin: 40px 0;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    display: inline-block;
}
.snsweb .sban .sbtn:hover,
.snsweb .sban .sbtn:focus {
    text-decoration: none;;
    background: rgba(255,255,255,.3);
    color: white;
}
.snsweb .sbtn:hover .lnr-chevron-right:before {
    margin-left: 10px;
}
@media (max-width: 992px) {
    .snsweb .sban .bicon,
    .snsweb .sban .bphoto {
        display: none;
    }
}
/* SHOP BANNER */

/* TITLE */
.snsweb .tit {
    width: 100%;
    padding: 0 100px;
}
@media (max-width: 768px) {
    .snsweb h3 {
        font-size: 1.77em;
        font-weight: 300;
    }
}
@media (max-width: 500px) {
    .snsweb h3 {
        font-size: 1.5em;
        font-weight: 300;
    }
}
/* TITLE */



/* IMAGE GALLERY */

.snsweb .sgal img {
    max-width: none;
    max-height: none;
}
.snsweb .sgal .pictures {
    width: 100%;
    max-width: 970px;
    margin: auto;
    position: relative;
}
.snsweb .sgal .pictures .left {
    float: left;
    width: 325px;
    height: 480px;
}
.snsweb .sgal .pictures .left img:nth-child(odd) {
    width: 150px;
    height: 112px;
    margin: 0px 10px 10px 0;
    z-index: 2;
    position: relative;
    border: 1px solid #d8d8d8;
    opacity: 0.9;
    transform: scale(0.9);
    cursor: pointer;
    outline: none;
}
.snsweb .sgal .pictures .left img:nth-child(odd):hover,
.snsweb .sgal .pictures .left img:nth-child(odd):focus {
    -webkit-box-shadow: 0px 15px 23px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 23px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 23px -11px rgba(0,0,0,0.75);
    opacity: 1;
    transform: scale(1);
}
.snsweb .sgal .left img:nth-child(odd):focus ~ img:last-child {
    opacity: 0;
    transform: scale(0.6);
}
.snsweb .sgal .pictures .left img:nth-child(odd):focus + img {
    opacity: 1;
    transform: scale(1);
}
.snsweb .sgal .pictures .left img:nth-child(even) {
    width: 640px;
    height: 480px;
    position: absolute;
    left: 330px;
    top: 0px;
    opacity: 0;
    transform: scale(0.6);
    border: 1px solid #d8d8d8;
        
}
.snsweb .sgal .pictures .left img:nth-child(2) {
    opacity: 0;
}
.snsweb .sgal .pictures .left img:last-child {
    opacity: 1;
    transform: scale(1);
}
@media (max-width: 992px) {
    .snsweb .sgal .pictures .left {
        width: 100%;
        text-align: center;
    }
    .snsweb .sgal .pictures .left img:nth-child(odd) {
        margin: 0;
    }
    .snsweb .sgal .pictures .left img:nth-child(even) {
        left: 55px;
        top: 230px;
    }
    .snsweb .sgal .pictures .left {
        height: 710px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .snsweb .sgal .pictures .left {
        width: 750px;
        margin: auto;
        float: none;
    }
}
@media (max-width: 768px) {
    .snsweb .sgal .pictures .left img:nth-child(even) {
        display: none;
    }
    .snsweb .sgal .pictures .left {
        height: auto;
    }
    .snsweb .sgal .pictures .left img:nth-child(odd) {
        width: auto;
        height: auto;
        max-width: 100%;
        opacity: 1;
        transform: scale(1);
        margin-bottom: 10px;
    }
}
/* IMAGE GALLERY */



/* TABLES */
.snsweb table {
    font-size: 1em;
    width: 100%;
    font-weight: 300;
    color: #5c5c5c;
}
.snsweb thead {
    text-align: center;
}
.snsweb td {
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
    line-height: 1.2em;
}
.snsweb tr:nth-child(2n) td {
    background: #ededed;
}
.snsweb table.ttech td:first-child {
    font-weight: 400;
    text-align: right;
}
@media (max-width: 768px) {
    .snsweb td {
        padding: 5px 10px;
    }
}
/* TABLES */



/* FEEDABACK */
.snsweb .fdbk,
.snsweb .fbk {
    height: 470px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-position: top center;
    background-color: #979797;
    background-image: url(https://exoplanet.top/t/1/img/b.jpg);
}
.snsweb .fdbk * {
    z-index: 2;
}
.snsweb .fbk {
    background-image: url(https://exoplanet.top/t/1/img/fbg.jpg);
    opacity: .2;
    position: absolute;
    z-index: 0;
}
.snsweb .fdbk h3:before {
    width: 3px;
    height: 40px;
    margin: -8px 0;
    position: relative;
    display: inline-block;
}
.snsweb .fdbk .fk {
    width: 450px;
    min-height: 160px;
    background: #d7d7d7;
    opacity: .9;
    border-radius: 10px;
    margin: 20px auto;
    color: #000;
    padding: 20px;
    font-weight: 300;
}
.snsweb .fdbk .fk span:first-child {
    display: block;
    margin-bottom: 30px;
}
.snsweb .fdbk .fk span:last-child {
    font-weight: 400;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 15px;
}
.snsweb .fdbk .fk span:last-child:before {
    content: " ";
    background: #9556d4;
    width: 20px;
    height: 3px;
    margin: 4px;
    position: relative;
    display: inline-block;
}
.snsweb .fdbk .fk span:last-child img {
    padding-bottom: 7px;
}
.snsweb .fdbk .fk span:last-child img:first-child {
    padding-left: 10px;
}

.snsweb .fdbk .fk {
    position: absolute;
    left: calc(50% - 225px);
    top: 160px;
}
.snsweb .fdot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 260px;
    cursor: pointer;
    outline: none;
    float: right;
    margin-left: 10px;
    right: calc(50% - 30px);
}
.snsweb .fdot:last-of-type {
    background: white;
}
.snsweb .fdot:focus {
    background: white;
}
.snsweb .fdot:focus ~ .fdot {
    background: none;
}
.snsweb .fdbk .fk {
    opacity: 0;
    transform: scale(0.5)
}
.snsweb .fdbk .fk:first-child {
    opacity: 0.7;
    transform: scale(1)
}
.snsweb .fdot:focus ~ div .fk {
    opacity: 0;
    transform: scale(0.5)
}
.snsweb .fdot:nth-of-type(3):focus ~ div .fk:nth-child(1),
.snsweb .fdot:nth-of-type(2):focus ~ div .fk:nth-child(2),
.snsweb .fdot:nth-of-type(1):focus ~ div .fk:nth-child(3) {
    opacity: 0.7;
    transform: scale(1)
}
@media (max-width: 500px) {
    .snsweb .fdbk .fk {
        width: 350px;
        left: calc(50% - 175px);
    }
}
.snsweb .apicn {
    position: absolute;
    font-size: 170px;
    top: 30px;
    left: 10px;
    opacity: .1;
}
.snsweb .apicn2 {
    top: auto;
    bottom: 30px;
    right: 10px;
    left: auto;
    transform: scaleX(-1);
}
@media (max-width: 1200px) {
    .snsweb .apicn {left: 30px;}
    .snsweb .apicn2 {right: 30px;left:auto;}
}
@media (max-width: 992px) {
    .snsweb .apicn {display: none;}
}
/* FEEDABACK */


/* ADDITIONAL INFORMATION */
.snsweb .ainf span.lnr {
    display: inline-block;
    color: #584f95;
    font-size: 5px;
}
.snsweb .ainf span.lnr:before {
    font-size: 23px;
}
.snsweb .ainf h4 {
    display: inline-block;
}
.snsweb .ainf-sec {
    padding-left: 25px;
    margin: 10px 0;
}
.snsweb .ainf-sec:before {
    content: " ";
    position: absolute;
    width: 3px;
    height: 100%;
    left: 10px;
    top: -6px;
    background: #6dcff6;
}
@media (max-width: 992px) {
    .snsweb .ainf-sec:before {
        top: 0px;
    }
    .snsweb .ainf-sec {
        margin: 20px 0;
    }
}
/* ADDITIONAL INFORMATION */



/* FOOTER */
.snsweb .ftr {
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 215px;
}
.snsweb .ftr .drkbg {
    height: 100%;
}
.snsweb .ftrbg {
    background: url(https://exoplanet.top/t/1/img/fobg.jpg) no-repeat bottom right #333;
    opacity: 1;
    height: 215px;
}
.snsweb .finfo {
    text-align: left;
    line-height: 1.6em;
    font-size: 0.9em;
}
.snsweb .finfo:before {
    content: " ";
    position: absolute;
    width: 3px;
    height: 100%;
    left: -40px;
    top: 0px;
    background: #6dcff6;
}
.snsweb a.tst, .tst:hover {
    width: 170px;
    height: 60px;
    position: absolute;
    z-index: 1;
    outline: none;
    display: block;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
}
.snsweb a.tst > span {
    opacity: 0.0000000001;
    color: #fefefe;
    display: none;
}
.snsweb .finfo .lnr {
    opacity: 0.6;
    font-size: 10px;
    top: 2px;
}
.snsweb .finfo .lnr:before {
    font-size: 1.125rem;
}
.snsweb .tbl {
    display: table;
}
.snsweb .tbl > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
@media (max-width: 700px) {
    .snsweb .finfo {
        font-size: 0.8em;
    }
    .snsweb .finfo:before {
        display: none;
    }
}
@media (max-width: 550px) {
    .snsweb .tbl > div.flogo {
        display: none;
    }
}
/* FOOTER */



/* changeable */
.snsweb .grdnt {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(97,89,213,0.55) 0%, rgba(197,63,217,0.55) 100%);
    background: -webkit-linear-gradient(left, rgba(97,89,213,0.55) 0%,rgba(197,63,217,0.55) 100%);
    background: linear-gradient(to right, rgba(97,89,213,0.55) 0%,rgba(197,63,217,0.55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c6159d5', endColorstr='#8cc53fd9',GradientType=1 );
}

/* accent color 1 */
.snsweb .cad .i,
.snsweb ul li:before,
.snsweb a,
.snsweb a:hover,
.snsweb a:focus,
.snsweb .ainf span.lnr {
    color: #9556D4;
}
.snsweb .sgal .pictures .left img:nth-child(odd):hover {
    border-color: #9556D4;
}
.snsweb .fdbk .fk span:last-child:before {
    background-color: #9556D4;
}
/* accent color 1 */

/* accent color 2 */
.snsweb .st h3:before,
.snsweb .desc h3:before,
.snsweb .mlnks a:before,
.snsweb .st h3:before, .snsweb .fdbk h3:before,
.snsweb .ainf-sec:before,
.snsweb .finfo:before {
    background: #6dcff6;
}
/* accent color 2 */

/* image frame */
.snsweb .st .pf {
    border: 1px solid #333;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 28px 36px -16px black;
    background: white;
}
.snsweb .st:hover .pf {
    -webkit-box-shadow: 0 48px 66px -50px #666;
    -moz-box-shadow: 0 48px 66px -50px #666;
    box-shadow: 0 48px 66px -50px #666;
}
.snsweb .desc .pf {
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0 13px 26px -11px black;
    -moz-box-shadow: 0 13px 26px -11px black;
    box-shadow: 0 13px 26px -11px black;
}
/* image frame */
/* changeable */
</style>
